.product-item{
  width: 400px;
  border: 1px solid #c2d3e8;
  border-radius: 20px;
  margin: 20px 0px 0px 50px;
}

.user-products-class {

  background-color: #CDD9E9;
  border-start-end-radius: 20px;
  border-top-left-radius: 20px;
}

.productview {
  background:linear-gradient(right,#F6ECED,#E9E4E8,#BFD0E4,#3EA2D6);
  display: flex;
  flex-direction: column;
}

.user-product-img img {
  height: 260px;
  width: 230px;
  margin: 10px 0px 50px 70px;
}

.user-product-content {
  margin:10px 0px 0px 30px;
}
.user-product-content button {
  border: 1px solid #095DA4 ;
  background-color: #095ea4df;
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding: 4px 30px;
  border-radius: 30px;
  margin: 20px 0px 30px 30px;

}
.user-product-content button:hover {
  color: #095DA4;
  background-color: white;
  border: 1px solid #095DA4;
  border-radius: 30px;
}
.user-products-class #name {
  color: #0c4573;
  font-size: 23px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  height: max-content;
}
.user-product-content #desc{
  color: grey;
  font-size: 18px;
  margin: 10px 30px 10px 38px;

  }
  .user-product-content #cost{
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin: 20px 0px 0px 38px;
  }

.img img {
  margin-top: 7%;
  height: 200px;
  width: 98.9vw;
}
.product-grid {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 0px; Gap between item */
}


/* Media query for smaller screens to switch to a single column layout */
@media screen and (max-width: 768px) {
  .product-grid {
      grid-template-columns: repeat(1, 1fr);
     }
}
